<div [ngSwitch]="isAuthenticated()">
    <h1 class="text-center">FiscInov Service d'enregistrement</h1>
    <div class="row">
        <div class="col-md-12 text-center">
            <div *ngSwitchCase="true">
                <jhi-refresh-selector class="float-right refresh-left-side"></jhi-refresh-selector>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous n'êtes pas authentifié.</span>
                <a class="alert-link" (click)="login()">Veuillez vous connecter</a>
            </div>
        </div>
    </div>
    <div class="row" *ngSwitchCase="true">
        <div class="col-sm-12 col-md-6" *ngIf="status">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    <h3 class="card-title">État du système</h3>
                </div>
                <div class="card-block">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Environnement</td>
                            <td>{{status.environment}}</td>
                        </tr>
                        <tr>
                            <td>Centre de données</td>
                            <td>{{status.datacenter}}</td>
                        </tr>
                        <tr>
                            <td>Heure actuelle</td>
                            <td>{{status.currentTime}}</td>
                        </tr>
                        <tr>
                            <td>Disponibilité du système</td>
                            <td>{{status.upTime}}</td>
                        </tr>
                        <tr>
                            <td>Sous le seuil de renouvellement</td>
                            <td>{{status.isBelowRenewThreshold}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="appInstances">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    <h3 class="card-title">Instances enregistrées</h3>
                </div>
                <div class="card-block">
                    <!--{vm.apps.applications}}-->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>App</th>
                            <th>Instance ID</th>
                            <th>Statut</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let instance of appInstances">
                            <td>{{instance.name}}</td>
                            <td class="break">{{instance.instanceId}}</td>
                            <td class="text-center">
                            <span class="badge badge-pill font-weight-normal" [ngClass]="getBadgeClass(instance.status)">
                                {{instance.status}}
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngSwitchCase="true">
        <div class="col-sm-12 col-md-6" *ngIf="status">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    <h3 class="card-title">Information Générale</h3>
                </div>
                <div class="card-block">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Mémoire totale disponible</td>
                            <td>{{status.generalStats['total-avail-memory']}}</td>
                        </tr>
                        <tr>
                            <td>Utilisation actuelle de la mémoire</td>
                            <td>{{status.generalStats['current-memory-usage']}}</td>
                        </tr>
                        <tr>
                            <td>Nombre de CPU</td>
                            <td>{{status.generalStats['num-of-cpus']}}</td>
                        </tr>
                        <tr>
                            <td>Adresse IP de l'Instance</td>
                            <td>{{status.instanceInfo.ipAddr}}</td>
                        </tr>
                        <tr>
                            <td>Statut de l'Instance</td>
                            <td>
                                <span class="badge badge-pill font-weight-normal" [ngClass]="getBadgeClass(status.instanceInfo.status)">
                                    {{status.instanceInfo.status}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="health">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    <h3 class="card-title">Etat de santé</h3>
                </div>
                <div class="card-block">
                    <table id="healthCheck" class="table">
                        <tbody>
                        <tr *ngFor="let componentHealth of health.components | keys">
                            <td><span class="text-capitalize">{{ componentHealth.key }}</span></td>
                            <td class="text-center">
                            <td class="text-center">
                                <span class="badge" [ngClass]="getBadgeClass(componentHealth.value.status)">
                                    {{ componentHealth.value.status }}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
